.page-home {
  background-image: url('../images/kolibrika-flip.png');
  background-repeat: no-repeat;
  background-size: 50%;
  background-position: 100% 5em;
  @include media-breakpoint-up(sm) {
    background-size: 50%;
    background-position: 100% 5em;
  }
  @include media-breakpoint-up(md) {
    background-size: 50%;
    background-position: 100% 5em;
  }
  @include media-breakpoint-up(lg) {
    background-size: 50%;
    background-position: 80% 5em;
  }
}
