.page-services {
    background-image: url("../images/koligris.png"); //<span>Photo by <a href="https://unsplash.com/@ninjason?utm_source=unsplash&amp;utm_medium=referral&amp;utm_content=creditCopyText">Jason Leung</a> on <a href="https://unsplash.com/s/photos/hummingbird?utm_source=unsplash&amp;utm_medium=referral&amp;utm_content=creditCopyText">Unsplash</a></span>
    background-repeat: no-repeat;
    background-size: 60%;
    background-position: top right;
    @include media-breakpoint-up(sm) {
        background-size: 40%;
        background-position: top right;
    }
    @include media-breakpoint-up(lg) {
        background-size: 50vh;
        background-position: top right;
    }
    // @include media-breakpoint-up(lg) {
    //   background-size: 60%;
    //   background-position: 100% -110px;
    // }
}
