.page-teams {
  background-image: url('../images/hdoscolibris.png');
  background-repeat: no-repeat;
  background-size: 75vw;
  background-position:top right;

  @include media-breakpoint-up(sm) {
    background-size: 50vw;
    // background-position: 159px -40px;
  }
  @include media-breakpoint-up(lg) {
    background-size: 45vw;
    // background-position: top right;
  }
}
